.main {
        background-color: rgb(219, 253, 241);
}
.seven-blocks {
        display: flex;
        flex-wrap: wrap;
        width: 630px;
        flex-direction: row;
        margin: 20px auto;
        padding: 20px 10px 10px 20px;
        justify-content: center;
        border: 5px solid #D2691E;
        border-radius: 15px;
}
.day-block {
        box-sizing: border-box;
        width: 200px;
        height: 250px;
        border: 1px solid black;
        border-radius: 5px;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-block;
        position: relative;
        background-color: #D2691E;
}

.input-task {
        position: absolute;
        bottom: 30px;
        width: 96%;
        height: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
}
.add-panel {
        padding-top: 4px;
}

.name-day-block {
        position: absolute;
        text-align: center;
        padding-left: 50px; 
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-style: italic;
        color: white;   
}

.buttons-add-edit {
   width: 50%;
   cursor: pointer;
}
.buttons-add-edit:active {
        background-color: #F0E68C;
        border: 0px;
}

.button-edit-past {
       width: 100%;
       cursor: pointer;
    }

.task {
        box-sizing: border-box;
        margin-top: 20px;
        border: 1px solid black;
        width: 198px;
        height: 198px;
        overflow: auto;
        background-color: #F0E68C;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
}

.delete-button {
        background-image: url(images/delete-icon.png);
        background-size: contain;
        height: 20px;
        width: 20px;
        cursor: pointer;
        border: 1px solid #D2691E;
        float: right;
}

.edit-button {
        background-image: url(images/edit-icon.png);
        border: 1px solid #D2691E;
        background-size: contain;
        height: 20px;
        width: 20px;
        cursor: pointer;
        float: right;
}

.change-weeks {
        display: flex;
        flex-wrap: wrap;
        width: 655px;
        flex-direction: row;
        margin: 20px auto;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
        border: 5px solid #D2691E;
        border-radius: 15px;
       
        
}

.week-button {
        background-color: #F0E68C;
        cursor: pointer;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-weight: bolder;
        width: 196px;
        height: 50px
}
#plus-week-button{
        margin-right: 20px;
        margin-left: 10px;
        border-radius: 0px 10px 10px 0px
}
#minus-week-button{
        margin-left: 20px;
        border-radius: 10px 0px 0px 10px
}

#current-week-button{
        margin-left: 10px
}

.week-button:active {
        background-color: #D2691E;
        color: #F0E68C;
}

.checkbox {
        cursor: pointer;
}

@media (min-width: 1024px){
  .change-weeks {
        width: 1000px;    
  }  
  .week-button{
        width: 310px;   
  } 
  .seven-blocks{
        width:970px;  
  } 
  .day-block {
      width: 230px;
  }
  .task {
        width: 228px;
  }
}

@media (min-width: 425px) and (max-width: 700px){
  .change-weeks {
        width: 460px;    
  } 
  .seven-blocks{
        width: 425px;  
  } 
  .week-button{
        width: 133px;
  }
}

@media (max-width: 425px) {
  .change-weeks{
        width: 300px;
  }
  .seven-blocks{
        width: 280px;  
  }
  .day-block {
        width: 230px;
    }
    .day-block {
        width: 280px;
    }
    .task {
        width: 278px;
  }
  .week-button{
        width: 80px;
        font-size: 11px;
  }
}